* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 1040px;
}
.video-course-container {
  background-color: rgba(0, 158, 204, 0.5);
}

.alert {
  border: red solid 2px;
}
input.ng-touched.ng-valid {border:solid green 2px;}
input.ng-touched.ng-invalid {border:solid red 2px;}