<div class="container">
  <h2 >{{ section }}</h2>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Text for search</mat-label>
    <input matInput placeholder="Text for search" #newItem />
  </mat-form-field>
  <button mat-button color="primary">Search</button>

  <div class="video-course-container">
    <br />
    <ul  *ngFor="let item of list" >
      <li style="margin-bottom: 15px; list-style-type: none">
        <abbr appVideoListBold > Video course {{item}}</abbr>
        <br>
        {{text}}
        <button mat-button color="primary" (click)="change(true)" style="border: solid;margin-right: 15px;">Edit</button>
        <button mat-button color="primary" (click)="change(false)" style="border: solid;">Delete</button>
      </li>

    </ul>
   
  </div>
</div>
