<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
  <h1>  Video course</h1>
  </header>

  <div class="container">
    <h2> {{ title}}</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Text for search</mat-label>
      <input matInput placeholder="Text for search">
      </mat-form-field>
    <button mat-button color="primary">Search</button>
  </div>
 
       

</body>
<footer>
  All rights reserved
</footer>

</html>